.nav{
    width:100%;
    background-color:$Dark-Blue-intro;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:1rem;

    @media (min-width:990px) {
        padding:2rem 5rem;
        
    }

    .logo{
        width:20%;
        max-width:100px;
        img{
            width:100%;
        }
    }

    &_list-container{
        list-style:none;
        display: flex;
        justify-content:space-between;
        align-items: center;
        gap:20px;
        @media (min-width:990px) {
            gap:40px;
            
        }

    
        .nav-link{
            text-decoration:none;
            color:$White;
            font-weight:400;
            font-family: 'Raleway', sans-serif;

            &:hover{
               text-decoration: underline;
            }

        }
    }
}