.contact-container{
    position: absolute;
    display:grid;
    place-items: center;
    padding:20px;
    bottom:0%;
    left:50%;
    z-index:5;
    width:90%;
    max-width:445px;
    min-height:60vh;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color:$Dark-Blue-intro;
    text-align: center;
    transform: translate(-50%,50%);
    -webkit-transform: translate(-50%,50%);
    -moz-transform: translate(-50%,50%);
    -ms-transform: translate(-50%,50%);
    -o-transform: translate(-50%,50%);
    box-shadow: 0px 8px 13px 0px #000000;
    .form{
        width:100%;
    }

    input{
        width:80%;
        display: block;
        padding:10px  20px;
        border:none;
        outline: none;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        margin:20px auto;
    }

    input[type=submit]{
        background-color: $Cyan;
        color:$White;
        font-weight: 700;
    }

}
